body{
    
}
.hal_blog{
    padding: 0px;
    background: #D2E7FF;
}
.foto-blog{
    object-fit: cover;
    max-width: 157px;
    max-height: 221px;
}
.persegmen {
    border-radius: 60px;
    border: 2px solid #FFFF;
    padding: 20px;
}
.persegmen deskripsi{
    font-family: 'Poppins', sans-serif;
}
