{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Blog {% endblock %}
{% block isi %}

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card form-buatIkan">
            <h5 class="card-header header-form">Tambah Post</h5>
            <div class="card-body">
                <form action="/blog/buat" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.judul|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.foto|as_crispy_field }}            
                    </div>
                    <div class="form-group">
                        {{ form.deskripsi|as_crispy_field }}             
                    </div>
                        <button type="submit" class="btn btn-light" id="btn-tambahBlog">Tambah Post</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock isi %}