{% extends "base.html" %}
{% load static %}
{% block title %} Post {% endblock %}
{% block isi %}
<head>
    <link rel = "stylesheet" type = "text/css"  href = "{% static 'blog.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div class="hal_blog">
    {% if data %}
        {% for object_isian in data %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ object_isian.foto.url }}" class="card-img foto-blog" alt="image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body persegmen">
                            <h5 class="card-title judul">{{ object_isian.judul }}</h5>
                            <p class="card-text deskripsi">{{ object_isian.deskripsi }}</p>
                            <p><a href= "{% url 'blog:hapus' id=object_isian.id %} "> <button type="submit">Hapus</button> </a></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>Belum ada Post</h1>
    {% endif %}
        <a href="{% url 'blog:form_blog' %}"><button type="button" class="btn btn-light" id="btn-buat_post">Tulis Post Baru</button></a>
    

    </div>
    
    {% endblock isi %}

</body>
    
