{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}{% endblock %} - Eclair Lake</title>
    {% block head %}{% endblock%}
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-md bg-light justify-content-center">
        <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
            <ul class="navbar-nav mx-auto text-center">
                {% with url_name=request.resolver_match.url_name %}
                <li class="nav-item {% if url_name == 'form_ikan' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'beli_ikan:form_ikan' %}">Beli</a>
                </li>
                <li class="nav-item {% if url_name == 'toko' %} active {% endif %}">
                    <a class="nav-link" href="/toko/">Toko</a>
                </li>
                <a href="{% url 'home_app:beranda' %}" class="{% if url_name == 'beranda' %} active {% endif %}"><img class="logo-navbar" src="{% static 'images/logo-eclair.png' %}"></a>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/">Blog</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'faq:faq' %}">FAQ</a> 
                </li>
                {% endwith %}
            </ul>
        </div>
    </nav>
            
    {% block isi %}{% endblock %}

    <div class="footer">
        <p id="copri">©Eclair-lake</p>
        <div class="logo">
            <a href="https://id-id.facebook.com/"><img class="logo-item" src="{% static 'images/FB.png' %}"></a>
            <a href="https://www.instagram.com/"><img class="logo-item" src="{% static 'images/IG.png' %}"></a>
            <a href="https://id.linkedin.com/"><img class="logo-item" src="{% static 'images/LinkedIN.png' %}"></a>
            <a href="https://wa.me/"><img class="logo-item" src="{% static 'images/WA.png' %}"></a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>