{% extends "base.html" %}
{% load static %}


{% block title %}Toko{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static './toko.css' %}">
{% endblock%}

{% block isi%}
<div class="container">
    <div class="row">
        <div class="col tengah"> 
            <form action="/toko/tambah/" method="POST">
                {% csrf_token %}
                <button class="btn btn-info" type="submit">Buat Toko</button>
            </form>
            {% if daftarToko %}
            <div class="row">
                {% for toko in daftarToko %}
                <div class="card">
                    <img src="{{ toko.foto.url }}" class="card-img-top fotoPas" alt="image">
                    <div class="card-body">
                        <P class="card-body">Nama Toko:<br>{{toko.nama}}</P>
                        <P class="card-body">Telepon:<br>{{toko.nomor}}</P>
                        <P class="card-body">Email:<br>{{toko.email}}</P>
                    </div>
                    <form action="hapus/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{ toko.id }}" name="id" />
                        <input class="btn delete btn-danger" type="submit" value="Delete" />
                    </form>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="gaada">
                <h1> Belum ada toko </h1>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock isi %}