{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Daftar Ikan {% endblock %}
{% block isi %}

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card form-buatIkan">
            <h5 class="card-header header-form">Tambah Ikan</h5>
            <div class="card-body">
                <form action="/beli/terima" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form_ikan.jenis|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form_ikan.foto|as_crispy_field }}            
                    </div>
                    <div class="form-group">
                        {{ form_ikan.harga|as_crispy_field }}             
                    </div>
                    <div class="form-group">
                        {{ form_ikan.deskripsi|as_crispy_field }}          
                    </div>
                    <div class="form-group">
                        {{ form_ikan.namaToko|as_crispy_field }}
                    </div>
                    <button type="submit" class="btn btn-light" id="btn-tambahIkan">Tambah Ikan</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock isi %}