{% extends "base.html" %}
{% load static %}
{% block title %} Daftar Ikan {% endblock %}
{% block isi %}

    {% if semua_ikan %}
    <div class="row">
        {% for object_isian in semua_ikan %}
        <div class="card" style="width: 18rem;">
            <img src="{{ object_isian.foto.url }}" class="card-img-top" alt="image">
            <div class="card-body">
                <p class="card-text">{{ object_isian.jenis }}</p>
                <p class="card-text">{{ object_isian.harga }}</p>
                <p class="card-text">{{ object_isian.deskripsi }}</p>
                <p class="card-text">{% for nama in object_isian.namaToko.all %} {{ nama }} {% endfor %}</p>
                <p><a href= "{% url 'beli_ikan:hapus' id=object_isian.id %} "> <button type="submit">Hapus</button> </a></p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <h1>Belum ada Ikan</h1>
    {% endif %}
    <a href="{% url 'beli_ikan:terima' %}"><button type="button" class="btn btn-light" id="btn-buat_ikan">Daftar Ikan Baru</button></a>

{% endblock isi %}