{% extends "base.html" %}
{% load static %}
<!-- {% load crispy_forms_tags %} -->

{% block title %} Frequently Ask Question {% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static './faqcss.css' %}">
{% endblock %}


{% block isi %}

<body style="background-color:#D2E7FF;">


<h1 id="faq">Frequently Ask Question</h1>

<div class="row" justify-content: center >
	<div class="" style="background-color: white; padding: 25px" id="faq">
		<p> Q: Apakah ikan yang disediakan dapat dikirim lewat pesawat? </p>
		<p> A: Bisa, saat ini kami mempunyai partner penyedia angkutan udara seperti Singa Air dan Pancasila Air </p>
	</div>
</div>

<br>

<div class="row">
	<div class="" style="background-color: white; padding: 25px" id="faq">
		<p> Q: Apakah ikan yang disediakan dapat dikirim lewat pesawat? </p>
		<p> A: Bisa, saat ini kami mempunyai partner penyedia angkutan udara seperti Singa Air dan Pancasila Air </p>
	</div>
</div>

<br>

<div class="row">
	<div class="" style="background-color: white; padding: 25px" id="faq">
		<p> Q: Apakah ikan yang disediakan dapat dikirim lewat pesawat? </p>
		<p> A: Bisa, saat ini kami mempunyai partner penyedia angkutan udara seperti Singa Air dan Pancasila Air </p>
	</div>
</div>

<br>

<div class="row">
	<div class="" style="background-color: white; padding: 25px" id="faq">
		<p> Q: Apakah ikan yang disediakan dapat dikirim lewat pesawat? </p>
		<p> A: Bisa, saat ini kami mempunyai partner penyedia angkutan udara seperti Singa Air dan Pancasila Air </p>
	</div>
</div>

<br>
<br>

<div class="row" id="pertanyaans" justify-content: center >
	<form method="POST">
	{% csrf_token %}
	<div class="col-8" style="background-color: white; padding: 0px" id="faq">
		
		<p> Silahkan tuliskan pertanyaan anda disini :) </p>
		{{ form.as_p }}
	</div>
	<div class="col-1" >
  		<img src="{% static 'images/sendButton.png' %}" alt="send button" border="5px" style="width:50px;height:50px" >
  		<button type='submit' class="save">Save</button>
	</form>
  </div>
</div>
<!-- {% for tanya in semua_pertanyaan %}
    <div class="card">
        <div class="card-body">
            <P class="card-body">{{tanya.pertanyaan}}</P>
        </div>
        <form action="hapus/" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ tanya.id }}" name="id" />
            <input class="btn delete btn-danger" type="submit" value="Delete" />
        </form>
    </div>
    {% endfor %} -->
<br>
<br>
<br>


<!-- <div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card form-buatIkan">
            <h5 class="card-header header-form">Pertanyaan Saya : </h5>
            <div class="card-body">
                <form action="/beli/terima" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form_pertanyaan.as_p }}
                    </div>
                    <button type="submit" class="btn btn-light" id="btn-tambahIkan">Kirim Pertanyaan</button>
                </form>
            </div>
        </div>
    </div>
</div> -->

<!-- 
<div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Ikan yang disediakan Eclair sangat segar dan pengantarannya pun tepat waktu. </p>
                <p class="card-text"></p>
                <p class="card-text">Terima kasih Eclaire!</p>
                <p class="card-text">Pengguna1</p>
            </div>
        </div> -->
</body>

{% endblock isi %}