{% extends "base.html" %}
{% load static %}

{% block title %} Frequently Ask Question {% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static './faqcss.css' %}">
{% endblock %}


{% block isi %}

<h1 id="faq">Frequently Ask Question</h1>

<br>

<div class="row">
	<div class="col-10" style="background-color: white; padding: 10px" id="faq">
		<p> Silahkan tuliskan pertanyaan anda disini :) </p>	
	</div>
	<div class="col-2">
  		<img src="{% static 'images/sendButton.png' %}">
  </div>
</div>



<br>
<br>



<!-- 
<div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Ikan yang disediakan Eclair sangat segar dan pengantarannya pun tepat waktu. </p>
                <p class="card-text"></p>
                <p class="card-text">Terima kasih Eclaire!</p>
                <p class="card-text">Pengguna1</p>
            </div>
        </div> -->

{% endblock isi %}