
body { 
	background-color: #D2E7FF;
}


h1 {
  color: #323232;
  text-align: center;
}

/*.rectangle {
  height: 350px;
  width: 200px;
  background-color: #F7F7F7;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-left: auto;
  margin-right: auto;
}*/

#faq {
  align-self: center;
  align-items: stretch | center ;
  justify-content: center ;
  align-items:center

}

#pertanyaans {
  height: 10 px
  margin-right: auto;
  margin-left: auto;
}