
body { 
	background-color: #987238;
}


h1 {
  color: #323232;
  text-align: center;
}

.rectangle {
  height: 350px;
  width: 920px;
  background-color: #F8E2C3;
  /*border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  margin-left: auto;
  margin-right: auto;
}